<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TractionAir.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ecuSettingsDB_CS" connectionString="Server=192.168.101.26,1433;Database=ECUSETTINGSDATABASE;User id=TRTair;Password=Tr4ct10n;"
            providerName="System.Data.SqlClient" />
        <add name="TractionAir.Properties.Settings.ecuSettingsDatabaseConnectionString"
            connectionString="Server=192.168.101.26,1433;Database=ECUSETTINGSDATABASE;User id=TRTair;Password=Tr4ct10n;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <TractionAir.Properties.Settings>
            <setting name="TractionAirDesktopVersion" serializeAs="String">
                <value>V1.0.0</value>
            </setting>
            <setting name="ConnectionPort" serializeAs="String">
                <value>COM#</value>
            </setting>
            <setting name="EcuConnected" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OnlineMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SerialPortOpen" serializeAs="String">
                <value>True</value>
            </setting>
        </TractionAir.Properties.Settings>
    </userSettings>
</configuration>